<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <h2>{{ subtitle }}</h2>
    <h3>{{ dodawanie }}</h3>
    <h1>Test test test</h1>
    <input  type="text" id="input">
    <button id="btn">Klik</button>
    <div id="output"></div>

    <script src="./../js/func.js"></script>
</body>
</html>